* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #34495e; */
  /* position: relative; */
}

#login_form {
  /* 
    postion:absolute 
    box 위치를 화면의 임의의 장소에 놓고자 할때
    설정하는 속성
    자연스럽게 기본형으로 배치되는 것을 없애고
    임의의 위치에 배치
    현재 form box 의 왼쪽 상단 모서리 위치를
    화면의 위에서 50% 위치, 왼쪽에서 50% 위치에 임의 배치
  */
  position: absolute;
  top: 50%;
  left: 50%;

  /* 화면에서 자신(form)의 위치를 이동하는 함수 */
  /* 
  자신의 현재 위치에서 (왼쪽, 상단)의 위치를 
  -50%(box 크기) 만큼 왼쪽으로, 위로 이동하라
  */
  transform: translate(-50%, -50%);

  width: 400px;
  background-color: #191919;
  padding: 40px;
  text-align: center;
  margin: 30px auto;

  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);

  animation-name: login_box_top_down;
  animation-duration: 1s;
}

#login_form h2 {
  color: white;
  font-weight: 500;
}

#login_form input {
  border: 2px solid #3498db;
  background: none;
  display: block;
  width: 200px;
  color: white;
  border-radius: 25px;
  margin: 20px auto;
  padding: 14px 12px;
  /* 
  input box 에 focus 가 있을때 
  나타나는 기본 outline 제거 
  */
  outline: none;
  transition: 0.2s;
  text-align: center;
}

/* input box 를 클릭했을때 */
#login_form input:focus {
  width: 280px;
  border-color: #2ecc71;
}

#login_form button {
  border: 2px solid #2ecc71;
  margin: 20px auto;
  padding: 14px 10px;
  border-radius: 25px;
  display: block;
  outline: none;
  color: white;
  cursor: pointer;
  background: none;
  width: 200px;
}

#login_form button:hover {
  background-color: #2ecc71;
}

/*
CSS3 에서 시작된 CSS 를 이용한 애니메이션 구현
@keyframes 로 구현한 CSS 애니메이션은
가급적 CSS 코드의 끝에 두자
*/
@keyframes login_box_top_down {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

/*
오래된 브라우저의 호환성을 위한 키워드
*/
@-webkit-keyframes login_box_top_down {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
